.container {
  display: flex;
  justify-content: center;
}

.loading {
  width: 60px;
  height: 60px;
  border-left: 2px solid var(--accent-color);
  border-radius: 100%;
  animation: spinning linear 2s infinite;
}

@keyframes spinning {
  0% {
    rotate: 0deg;
  }

  100% {
    rotate: 360deg;
  }
}
